.calendar-component {
  margin: 1rem 0;

  .calendar-month {
    width: 100%;
  }

  .calendar-week {
    display: flex;
  }

  .calendar-day {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    font-size: 0.9em;
    color: #666;
    padding: 5px 0px;
    position: relative;

    h5 {
      position: absolute;
      top: -19px;
      font-size: 0.9em;
      font-weight: 900;
      color: #333;
      left: auto;
      right: auto;
      width: 100%;
    }

    &.today {
      font-weight: 700;
      color: $green;
      background-color: #eee;
    }

    &.notable {
      background-color: $pink-light;
      border-radius: 10px;
    }

    &.is-success,
    &.is-warning,
    &.is-danger {
      font-weight: 900;
      color: #fff;
      cursor: pointer;
    }

    &.is-success {
      background-color: $green;
    }

    &.is-warning {
      background-color: $yellow;
    }

    &.is-danger {
      background-color: $red;
    }
  }

  .calendar-icon-day {
    max-width: 16px;
    margin: auto;
    display: inline-block;
    position: relative;
    top: 2px;
  }

  .calendar-icon-day:first-child:nth-last-child(4),
  .calendar-icon-day:first-child:nth-last-child(4)~.calendar-icon-day {
    margin-left: -5px;
    left: 4px;

    @include tablet {
      margin-left: 0px;
      left: 0;
    }
  }
}

.days-of-week {
  display: flex;
  font-size: 0.7em;
  color: #888;

  .week-day {
    width: 100%;
    text-align: center;
  }
}

.calendar-legend {
  position: fixed;
  left: auto;
  right: auto;
  bottom: 0;
  max-width: 640px;
  width: 100%;
  background-color: #fafafa;
  z-index: 9;
  font-size: 0.7em;
  padding: 0.6rem 0 0.5rem;

  @include tablet {
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1rem 0.5rem;
  }

  section {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;

    .legend-item {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 0;
    }
  }

  .legend-square {
    display: flex;
    align-items: center;
    width: 16px;
    height: 15px;
    margin-right: 3px;

    &.is-success {
      background-color: $green;
    }

    &.is-warning {
      background-color: $yellow;
    }

    &.is-danger {
      background-color: $red;
    }
  }
}
