.survey-radio {
  .radio + .radio {
    margin-left: 0;
  }

  label.radio {
    border: 1px solid #efefef;
    display: block;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    margin-bottom: 0.5rem;

    &:hover {
      background-color: $pink-lighter;
    }

    span {
      font-size: 16px;
      margin-left: 30px;
      display: block;
    }

    input[type=radio] {
      position: absolute;
      top: 12px;

      &:checked ~ span {
        color: $pink;
        text-shadow: 1px 1px 1px $pink-lighter;
        font-weight: 700;

        &::after {
          content: '\2713 ';
          position: absolute;
          right: 0.3rem;
          top: 8px;
        }
      }
    }
  }

}