.input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $dark-grey;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $dark-grey;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $dark-grey;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $dark-grey;
  }
}

.select:not(.is-multiple):not(.is-loading)::after {
  z-index: 2;
}

.survey-radio {
  .radio+.radio {
    margin-left: 0;
  }

  label.radio {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    display: block;

    &:hover {
      background-color: $pink-lighter;
    }
  }

  &.grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    align-items: center;

    .control {
      display: flex;
    }

    &.radio-only {
      .control label span {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      label.label {
        width: 100%;
        margin: 0;
        padding: 0 1rem;
        font-weight: 500;

        @include mobile {
          font-size: 0.8em;
          padding: 0;
          line-height: 1.1em;
        }
      }

      label.radio {
        width: 60px;
        text-align: center;
        padding: 0.5rem 1rem;
        border-left: 1px solid #efefef;

        @include mobile {
          padding: 0.5rem;
          width: 50px;
        }
      }
    }

    &.label-only {
      .control label input {
        display: none;
      }

      label.label {
        width: 100%;
      }

      label.radio {
        cursor: default;
        width: 60px;
        text-align: center;
        padding: 0 0 4px;

        &:hover {
          background-color: transparent;
        }

        @include mobile {
          width: 50px;
        }

        span {
          font-size: 0.7em;
          font-weight: 700;
          line-height: 1.1em;
          display: block;

          @include mobile {
            font-size: 0.6em;
          }
        }
      }
    }
  }

  &.stack {
    label.radio {
      border: 1px solid #efefef;
      margin-bottom: 0.5rem;

      span {
        font-size: 16px;
        margin-left: 30px;
        display: block;
      }

      input[type="radio"] {
        position: absolute;
        top: 12px;

        &:checked~span {
          color: $pink;
          text-shadow: 1px 1px 1px $pink-lighter;
          font-weight: 700;

          &::after {
            content: "\2713 ";
            position: absolute;
            right: 0.3rem;
            top: 8px;
          }
        }
      }
    }
  }
}

.survey-checkbox {
  label.checkbox {
    border: 1px solid #efefef;
    display: block;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    margin-bottom: 0.5rem;

    &:hover {
      background-color: $pink-lighter;
    }

    span {
      font-size: 16px;
      margin-left: 30px;
      display: block;
    }

    input[type="checkbox"] {
      position: absolute;
      top: 12px;

      &:checked~span {
        color: $pink;
        text-shadow: 1px 1px 1px $pink-lighter;
        font-weight: 700;
      }
    }
  }
}

.survey-range {
  .input-range {
    width: auto;
    margin: 2rem 1rem;
  }

  .input-range__label {
    color: #000;
    font-weight: 700;
    font-family: inherit;
  }

  .input-range__label--value {
    font-weight: 900;
    top: -2em;
    font-size: 1.2rem;
    color: $pink;
  }

  .input-range__track--active {
    background-color: $pink;
  }

  .input-range__slider {
    background-color: $pink;
    border-color: $pink;
  }
}

.survey-geopoint {
  .control {
    position: relative;

    &.is-loading::after {
      top: 13px;
    }
  }

  .places-suggestions {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .suggestion-item {
    background-color: #fff;
    cursor: pointer;
    padding: 0.2rem 0.7rem;

    &.is-active {
      background-color: $pink;
      color: #fff;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
}

.question:last-child.question-note {
  .label {
    font-size: 0.8em;
    color: #666;
    font-weight: 500;

    @include mobile {
      display: none;
    }
  }
}
