.site-footer {
  margin: 1rem auto 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey;
  max-width: 760px;
  text-align: center;

  .logos {
    margin: 2rem 0;
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      margin: 0 1rem;
    }
  }

  .social-buttons {
    margin-top: 1rem;

    @include mobile {
      margin-top: 0rem;
      font-size: 7px;
    }
  }

  .version-number {
    font-size: 9px;
    margin-top: 1rem;
    color: #999;

    @include mobile {
      margin-top: 0rem;
      font-size: 7px;
    }
  }

  &.is-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 0.5rem;
    font-size: 9px;

    @include tablet {
      font-size: auto;
      padding-top: 1rem;
    }
  }
}
