.submissions-page {
  font-size: 0.8em;
  padding: 2rem;

  .table {
    th {
      text-align: right;
    }

    tbody {
      th {
        width: 200px;
      }
    }

    thead {
      th {
        background-color: $pink-lighter;
        font-size: 0.8em;
        color: #666;
      }
    }
  }


  .submission-list {
    border-right: 1px solid #eee;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    z-index: 99;

    h2 {
      font-size: 1.3rem;
      font-weight: 900;
      border-bottom: 1px solid #eee;
    }

    .item {
      cursor: pointer;
      padding: 3px 6px;

      &:hover {
        background-color: #efefef;
      }

      &.is-active {
        background-color: $pink;
        color: #fff;
      }
    }
  }

  .submissions-detail {
    h3 {
      font-size: 1.2rem;
      font-weight: 900;
    }
  }

  .value-cell {
    width: 60%;

    div {
      overflow-x: auto;
      white-space: nowrap;
      width: 50%;
    }
  }

  .no-submissions {
    padding-top: 10rem;

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
