.summary-page {
  padding: 2rem;

  @include mobile {
    padding: 1rem;
  }

  .columns {
    align-items: stretch;
  }

  .button-wrapper {
    margin: 1rem auto;
  }

  .button.is-light {
    box-shadow: 2px 2px 0 #999;
    border: 1px solid #888;
  }

  .disclaimer-card {
    height: 100%;

    @include tablet {
      padding-top: 4rem;
    }
  }

  .potential-exposure-section {
    margin-top: 3rem;
  }

  .thankyou-section {
    .person-counter {
      text-align: center;
      font-size: 1.3em;
      margin: 2rem 0;

      span {
        display: block;
        font-weight: 700;
      }

      .count {
        font-weight: 900;
        font-size: 3em;
        color: $primary;
      }
    }
  }

  .track-daily-section {
    margin-bottom: 1.5rem;

    .clock-wrapper {
      margin: 2.5rem 0;
      text-align: center;

      img {
        max-width: 30%;
      }
    }
  }

  .share-section {
    p {
      margin-bottom: 3rem;
    }

    .social-sharing {
      display: flex;

      &>span {
        display: block;
        width: 100%;
        margin-left: 3px;
      }

      a {
        display: block;
        margin-left: 3px;
        width: 100%;

        &:first-child {
          margin-left: 0;
        }
      }

      .fa {
        margin: 2px;
        padding: 15px;
        font-size: 30px;
        width: 100%;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  .thankyou-section .card-content,
  .track-daily-section .card-content,
  .share-section .card-content {
    font-size: 0.8em;
  }

  .info-table {
    text-align: center;
    max-width: 640px;
    margin: 0 auto 2rem;

    button {
      margin-top: 2rem;
    }
  }

  .print-button {
    .fa {
      font-size: 18px;
      padding: 3px;
      margin-right: 5px;
      width: auto;
    }
  }

  .charts-section {
    margin-top: 2rem;

    header {
      font-weight: 900;
      font-size: 1.3em;
      margin-bottom: 1rem;
    }
  }
}

.result-section {
  h2 {
    font-weight: 700;
    line-height: 1.3em;
    font-size: 1.2em;
  }

  // workaround for hiding first messaage in results
  &.hide-first-message .message-wrapper:first-child {
    display: none;
  }

  .message-wrapper {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .result-container {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 0.9em;

    a {
      color: #fff;
      text-decoration: underline;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

.summary-of-symptoms-section {
  margin-bottom: 1rem;

  header {
    text-align: left;
  }
}

.symptoms-score-section {
  font-size: 0.9em;

  .table {
    margin-bottom: 2rem;
  }

  th {
    font-size: 0.8em;
  }

  .data-value-col {
    width: 120px;
  }
}
