.survey-page {
  padding: 1rem 1rem 0;
  max-width: 640px;

  @include tablet {
    margin-top: 2rem;
  }

  form {
    .question-label {
      font-size: 1.5em;
      line-height: 1.3em;
    }

    .question {
      margin: 1.5rem 0;

      &.question-select_one-label,
      &.question-select_one-list-nolabel {
        margin: 0;
      }

      &.question-select_one-list-nolabel:nth-child(2n) {
        background-color: #fafafa;
      }

      &.question-select_one-label,
      &.question-select_one-list-nolabel:last-child {
        border-bottom: 1px solid #dedede;
      }
    }
  }

  header.survey-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.9);

    h1 {
      font-size: 1.4em;
      font-weight: 700;
    }
  }

  .survey-progress {
    margin: 0.5rem 0;
    display: flex;

    .bar {
      width: 100%;
      height: 10px;
      display: block;
      background-color: $pink-lighter;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &.current {
        background-color: $pink;
      }
    }
  }

  .survey-navigation {
    position: fixed;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    z-index: 2;
    background-color: #fff;
    padding: 2rem 0;
    text-align: center;
    justify-content: space-between;
    display: flex;
    border-top: 1px solid $pink-light;
    box-shadow: 10px 0 30px rgba(255, 255, 255, 1);

    @include tablet {
      position: -webkit-sticky;
      position: sticky;
      left: auto;
      right: auto;
    }

    .button {
      margin-right: 2rem;
      width: 100%;
      max-width: 200px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  section.step {
    margin-bottom: 130px;

    @include tablet {
      margin-bottom: 3rem;
    }
  }

}
