.survey-page {
  margin-top: 2rem;
  padding: 1rem;
  max-width: 640px;

  form {
    .question-label {
      font-size: 1.5em;
      line-height: 1.3em;
    }

    .question {
      margin: 1.5rem 0;
    }
  }

  header {
    h1 {
      font-size: 1.4em;
      font-weight: 700;
    }
  }

  .survey-progress {
    margin: 0.5rem 0 2rem;
    display: flex;

    .bar {
      width: 100%;
      height: 10px;
      display: block;
      background-color: $pink-lighter;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &.current {
        background-color: $pink;
      }
    }
  }

  .survey-navigation {
    margin-top: 3rem;
    text-align: center;
    justify-content: space-between;
    display: flex;

    .button {
      margin-right: 2rem;
      width: 100%;
      max-width: 200px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .questions-table {
    header {
      padding: 1rem;

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.125;
        padding: 1rem 0;
      }

      h4 {
        font-size: 0.9em;
      }
    }

    th {
      text-align: center;
      font-size: 0.7em;
    }

    td {
      border-right: 1px solid #efefef;

      &:last-child {
        border-right: none;
      }
    }

    .cell-option {
      width: 60px;
      padding: 0;
      text-align: center;

      label.radio {
        display: block;
        padding: 0.5rem 1rem;

        &:hover {
          background-color: $pink-lighter;
        }
      }
    }
  }
}
