$pink: #FF30E6;
$pink-light: #FFCCF9;
$pink-lighter: #FFEEFD;
$green: #189C90;
$yellow: #EC8714;
$red: #D44527;
$grey: #F6F6F6;

// Update Bulma's global variables
$family-sans-serif: Barlow, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$primary: $pink;
$info: $pink-light;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// button
$button-background-color: $pink-lighter;
$button-border-color: $pink-light;
$button-hover-border-color: $pink-lighter;
$button-text-color: #000;