$pink: #ff30e6;
$pink-light: #ffccf9;
$pink-lighter: #ffeefd;
$green: #189c90;
$yellow: #ec8714;
$red: #d44527;
$grey: #f6f6f6;
$dark-grey: #ccc;

// Update Bulma's global variables
$family-sans-serif: Barlow, "Helvetica Neue", Helvetica, Roboto, Arial,
  sans-serif;
$primary: $pink;
$info: $pink-light;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// button
$button-background-color: $pink-lighter;
$button-border-color: $pink-light;
$button-hover-border-color: $pink-lighter;
$button-text-color: #000;
